<div class="container center" >
  <div class="row">
    <div class="col ">
      <ngb-accordion [closeOthers]="true" >
            <ngb-panel *ngFor="let grupos of bandasArc.grupos; let id=index" title="{{grupos.nombre}}"   >
              <ng-template ngbPanelContent >
                <div *ngFor="let banda of grupos.bandas; let id=index">
                  <div [ngClass]="{'bg-primary': (id == 0), 'bg-warning': (id == 1)}">
                    <a routerLink="/genero/{{banda.id}}">{{banda.nombre}}</a>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
    </div>
  </div>
</div>
