

<body class="bg-secondary">
  <div class="container-fluid center ">
    
          <ngb-accordion ngb-accordion [closeOthers]="true" activeIds="static-1">
            <ngb-panel title="One" >
              <ng-template ngbPanelContent>
                ad
              </ng-template>
            </ngb-panel>
            <ngb-panel title="Two">
              <ng-template ngbPanelContent>
                vass
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
  </div>
</body>