<body class="bg-danger">
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide >
      <img [src]="images[0]" alt="Random first slide" class="img-fluid rounded mx-auto d-block">
      <div class="carousel-caption colorRed" >
        <h3>The Doors</h3>
        <p>Los Angeles, California, United States</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img [src]="images[1]"  alt="Random second slide" class="img-fluid rounded mx-auto d-block">
      <div class="carousel-caption colorRed">
        <h3>Pink Floyd</h3>
        <p>London, England</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img [src]="images[2]" alt="Random third slide" class="img-fluid rounded mx-auto d-block">
      <div class="carousel-caption colorRed">
        <h3>Enjambre</h3>
        <p>EE UU - México</p>
      </div>
    </ng-template>
  </ngb-carousel>  
</body>